@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* Estilos personalizados que não conflitam com Tailwind */
@layer components {
  .custom-button {
    @apply border-transparent rounded-lg px-4 py-2 font-medium transition-colors duration-300;
  }

  .custom-button:hover {
    @apply border-indigo-500;
  }

  .custom-button:focus,
  .custom-button:focus-visible {
    @apply outline-none ring-2 ring-indigo-500;
  }
}

/* Mantenha estilos específicos para light mode se necessário */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

/* Estilos para o CircularProgressbar */
.CircularProgressbar-text {
  font-weight: bold;
  font-size: 2rem !important;
}

.CircularProgressbar-trail {
  stroke: #f3f4f6;
}